<body class="m-body">

     <img src="https://raw.githubusercontent.com/Ria2001/project-setup/master/src/images/illusecco.PNG" alt="hoccolatta&secco">

    <img src="https://raw.githubusercontent.com/Ria2001/project-setup/master/src/images/ivi.PNG" alt="ivi">

    <img src="https://raw.githubusercontent.com/Ria2001/project-setup/master/src/images/skateseason.png" alt="skateeason">

    <img src="http://raw.githubusercontent.com/Ria2001/project-setup/master/src/images/pink.png" alt="pinklady">

    <img src="https://github.com/Ria2001/project-setup/raw/master/src/images/Stairs.png " alt="stairs">

</body>