//Color 

$color-darkblue: #2C3250;
$color-darkbluelight: #6C75A4;
$color-beige: #F5E5D8;
$color-beigelight: #FFF5ED;

$color-black: #000000;
$color-white: #FFFFFF;

//TestColors

$color-pink: #F5D8EF;
$color-blue: #D9D8F5;
$color-green: #D8F5D9;
$color-purple: #E0D8F5;
$color-beige: #F5E5D8;
$color-beigedark: #F2D4BC;
