//Typography

$font-family: Gerogia;
$fontsize-S: 20px;
$fontsize-M: 24px;
$fontsize-L: 30px;
$fontsize-XL: 45px;
$fontsize-XS: 11;

//Merkliste: 
//Im Header ist alles 24px (Illustration, About, Contact)
//In der Front Page sind alle Jahresangaben 30px (2021,2020,2019,2018) außer Back To Top das sind 24px
//Beim Kontaktformular ist alles 20px (Name, Email,Message, Phone, Send)
//Im About ist auch alles 20px (Text, Visit my Insta, Click here for Contact)