.m-header {
  align-items: center;
  text-align: center;
  background-color: $color-beige;
  box-sizing: border-box;
  padding: $unit-XS;
  font-family: Georgia, 'Times New Roman', Times, serif;
  //color: $color-darkblue;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $color-beigedark;
  margin-top: -16px;

  .m-header__logo {
    align-items: center;
    padding: $unit-XS;
    font-weight: normal;
    color: $color-darkblue;
    font-size: $fontsize-L;
    margin-top: $unit-S;
    margin-bottom: $unit-S; 
    }

    h1 {
      font-weight: bold;
    }
  

  .m-header__navigation {
    font-size: $fontsize-S;
    padding: $unit-XS;
    display: none;

    ul {
      li {
        display: inline-block;
        margin-right: $unit-M;

        a {
          transition: all 0.2s;
          color: $color-darkblue;
          text-decoration: none;

          &:hover {
            color: $color-darkbluelight;
            //text-decoration: underline;
          }
        }

        &.active {
          a {
           background-image: url("images/insta.png");
           height: 24px;
           background-size: 24px 24px;
          background-repeat: no-repeat;
          color: transparent;
            //color: $color-darkblue; //Instagram 
            //text-decoration: underline;
          }
        }
      }
    }

    &.visible {
      display: block;
    }
  }
}